.background-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://kr.object.ncloudstorage.com/turntable-bgimg/%EA%B8%B0%EB%B3%B8%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B42.jpg") no-repeat center center fixed;
  background-size: cover;
}
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"] {
  width: calc(100% - 22px); /* 100% minus padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button[type="button"] {
  margin-top: 5px;
}

.form-group span {
  display: block;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
